USE [master]
GO
/****** Object:  Database [SMPORTFOLIO]    Script Date: 06/16/2014 16:21:26 ******/
CREATE DATABASE [SMPORTFOLIO] ON  PRIMARY 
( NAME = N'SMPortfolio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SMPORTFOLIO.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SMPortfolio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SMPORTFOLIO_1.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMPORTFOLIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMPORTFOLIO]
GO
/****** Object:  Table [dbo].[Competence]    Script Date: 06/16/2014 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [text] NULL,
	[CompetenceType] [int] NULL,
 CONSTRAINT [PK_Competence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Competence] ON
INSERT [dbo].[Competence] ([Id], [Name], [Description], [CompetenceType]) VALUES (1, N'C#', N'Le c# est un super langage', 1)
INSERT [dbo].[Competence] ([Id], [Name], [Description], [CompetenceType]) VALUES (2, N'PHP', N'Le PHP est un  langage moins bien', 1)
INSERT [dbo].[Competence] ([Id], [Name], [Description], [CompetenceType]) VALUES (3, N'Orchard', N'Orchard est un super CMS en C#', 1)
SET IDENTITY_INSERT [dbo].[Competence] OFF
/****** Object:  Table [dbo].[Realisation]    Script Date: 06/16/2014 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Realisation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [text] NULL,
	[LogoName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Realisation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Realisation] ON
INSERT [dbo].[Realisation] ([Id], [Name], [Description], [LogoName]) VALUES (2, N'MKS', N'Notre mission pour le semestre a été d''ajouter un module à 
			une solution existante, MKS. Ce dernier a pour but de faciliter la gestion
            d''IntechInfo. Notre module avait pour objectif de concevoir et développer un outil permettant, 
			à l''équipe pédagogique et administrative du groupe 
            ESIEA, d''alimenter et de gérer les catalogues de cours d''IN''TECH INFO et de l''ESIEA.', N'MKS.png')
SET IDENTITY_INSERT [dbo].[Realisation] OFF
/****** Object:  Table [dbo].[CompetenceByRealisation]    Script Date: 06/16/2014 16:21:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompetenceByRealisation](
	[CompetenceId] [int] NOT NULL,
	[RealisationId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompetenceId] ASC,
	[RealisationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CompetenceByRealisation] ([CompetenceId], [RealisationId]) VALUES (1, 1)
INSERT [dbo].[CompetenceByRealisation] ([CompetenceId], [RealisationId]) VALUES (1, 2)
INSERT [dbo].[CompetenceByRealisation] ([CompetenceId], [RealisationId]) VALUES (1, 3)
/****** Object:  ForeignKey [FK__Competenc__Compe__1920BF5C]    Script Date: 06/16/2014 16:21:26 ******/
ALTER TABLE [dbo].[CompetenceByRealisation]  WITH CHECK ADD FOREIGN KEY([CompetenceId])
REFERENCES [dbo].[Competence] ([Id])
GO
/****** Object:  ForeignKey [FK__Competenc__Reali__1A14E395]    Script Date: 06/16/2014 16:21:26 ******/
ALTER TABLE [dbo].[CompetenceByRealisation]  WITH CHECK ADD FOREIGN KEY([RealisationId])
REFERENCES [dbo].[Realisation] ([Id])
GO
