@{
    ViewBag.Title = "RealisationDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ObjectModel.Realisations.Realisation
<h2>@Model.Name</h2>

<div class ="realisation-description">@Model.Description</div>
<img src="~/Content/img/logos/@Model.ImageName" class="realisation-logo" />

<div class="realisation-detail">
    <span>Les compétences que j'ai pu mettre en pratique lors de ce projet :</span>
        <div class="competenceblock">
            Compétences techniques :
            <ul>
                @foreach (var comp in Model.Competences.Where(c => c.Type == ObjectModel.CompetenceType.TechnicalProject))
                {
                    <li>@Html.ActionLink(comp.Name, "Detail", "Competence", new { id = comp.Id }, null)</li>
                }
            </ul>
        </div>
    <div class="competenceblock">
        Compétences Humaines :
        <ul>
                @foreach (var comp in Model.Competences.Where(c => c.Type == ObjectModel.CompetenceType.HumanProject))
                {

                    <li>@Html.ActionLink(comp.Name, "Detail", "Competence", new { id = comp.Id }, null)</li>
                }
        </ul>
    </div>
</div>


