@{
    ViewBag.Title = "RealisationDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Portfolio.ViewModels.Realisations.DisplayViewModel
<h2>@Model.Name</h2>

<div class ="realisation-description">@Model.Description</div>
<img src="~/Content/img/logos/@Model.ImageName" class="realisation-logo" />

<div class="realisation-detail">
    <span>Les compétences que j'ai pu mettre en pratique lors de ce projet :</span>
    @if (Model.LinkedCompetences.Any(c => c.Type == ObjectModel.Competences.CompetenceType.TechnicalProject))
    {
        
        <div class="competenceblock">
            Compétences techniques :
            <ul>
                @foreach (var comp in Model.LinkedCompetences.Where(c => c.Type == ObjectModel.Competences.CompetenceType.TechnicalProject).OrderBy(p => p.Name))
                {
                    <li>@Html.ActionLink(comp.Name, "Detail", "Competence", new { id = comp.Id }, null)</li>
                }
            </ul>
        </div>
    }
    
    @if (Model.LinkedCompetences.Any(c => c.Type == ObjectModel.Competences.CompetenceType.HumanProject))
    {
        <div class="competenceblock">
            Compétences Humaines :
            <ul>
                @foreach (var comp in Model.LinkedCompetences.Where(c => c.Type == ObjectModel.Competences.CompetenceType.HumanProject).OrderBy(p => p.Name))
                {

                    <li>@Html.ActionLink(comp.Name, "Detail", "Competence", new { id = comp.Id }, null)</li>
                }
            </ul>
        </div>
    }
    
</div>


