@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Portfolio.ViewModels.Realisations.ListViewModel

<div class="realisation-container">
    @foreach (var real in Model.Realisations)
    {
        <div class="a-realisation">
            <img src="~/Content/img/logos/@real.ImageName" />
            @Html.ActionLink(real.Name, "Detail", new { id = real.Id })
            
        </div>
    }

    @foreach (var real in Model.Realisations)
    {
        <div class="a-realisation">
            <img src="~/Content/img/logos/@real.ImageName" />
            @Html.ActionLink(real.Name, "Detail", new { id = real.Id })
        </div>
    }

    @foreach (var real in Model.Realisations)
    {
        <div class="a-realisation">
            <img src="~/Content/img/logos/@real.ImageName" />
            @Html.ActionLink(real.Name, "Detail", new { id = real.Id })
        </div>
    }
</div>