@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<ObjectModel.Realisations.Realisation>

Voici les réalisations auxquelles j'ai pu participer au cours de mes années d'études ainsi qu'à travers des expériences personnelles.

    @foreach (var real in Model)
    {
        <div class="realisation-summary">
            <img src="~/Content/img/logos/@real.ImageName" />
            <div>
                @real.Description.EllipseString(200) 
                @Html.ActionLink("En savoir plus", "Detail", new { id = real.Id })
            </div>
        </div>
    }
