@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Portfolio.ViewModels.Realisations.ListViewModel

<h2>Mes réalisations</h2>

    @foreach (var real in Model.Realisations)
    {
        <div class="realisation-summary">
            <img src="~/Content/img/logos/@real.ImageName" />
            <div>
                <span class="realisationName">@real.Name</span> @real.ShortDescription
                @Html.ActionLink(ObjectModel.Helpers.ResourceHelpers.GetString("General", "SEE_MORE"), "Detail", new { id = real.Id })
            </div>
        </div>
    }
