@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Portfolio.ViewModels.Realisations.ListViewModel

Voici les réalisations auxquelles j'ai pu participer au cours de mes années d'études ainsi qu'à travers des expériences personnelles.

    @foreach (var real in Model.Realisations)
    {
        <div class="realisation-summary">
            <img src="~/Content/img/logos/@real.ImageName" />
            <div>
                @real.ShortDescription
                @Html.ActionLink(ResourceHelpers.GetString("General", "SEE_MORE"), "Detail", new { id = real.Id })
            </div>
        </div>
    }
