body {
}

hr {
    padding:0;
    margin:0;
}

textarea {
    resize: none;
    min-height: 100px;
}

/* Layout */

.navbar-default {
    background-color:white;
    color:grey;
}

.content {
    position:relative;
    margin-bottom:85px;
    margin-left: 25px;
    margin-right: 25px;
}

/* Footer */

.image-bar{
    float:right;
}

.image-bar img{
    width:25px;
    margin-left:8px;
}

/* Realisation summary page */

.realisation-summary{
    position:relative;
    height:80px;
    width:90%;
    transition: background 0.9s;
    background: white;
    padding-top:15px;
    padding-bottom:15px;
    border-top:1px solid #eee;
}

.realisation-summary:hover{
    transition: background 0.9s;
    background: #D6D6D6;
}

.realisation-summary img{
    position:absolute;
    top:13px;
    left:0;
    height:60px;
    width:60px;
}

.realisation-summary .realisationName {
    text-decoration: underline;
    font-weight: bold;
}

.realisation-summary div{
    position:absolute;
    top:16px;
    left:85px;
}

/* Realisation detail page */
.realisation-description {
    width: 50%;
    float:left;
}

.realisation-logo{
    max-width:250px;
    max-height:200px;
    margin-left:50px;
}

.realisation-detail {
    margin-top:15px;
    clear:both;
}

.realisation-detail span {
    text-decoration:underline;
    display:block;
    margin-bottom:15px;
}

.realisation-detail .competenceblock {
    float:left;
    width:25%;
}

@media screen and (max-width: 700px) {
    .realisation-summary {
        height: 120px;
        width: 100%;
    }
}

/* CV Viewer */
#showOnline {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

#CVViewer {
    display: none;
    min-width: 500px;
    min-height: 900px;
}

/* Home */

#title {
    text-align: center;
}

.leftBlock {
    position: relative;
    padding-left: 1%;
    border-right: 1px solid #e7e7e7;
}

#aboutMe {
    width: 90%;
    margin-left: 5%;
    margin-right: 10%;
}

#mypic {
  height: 120px;
  float: left;
  margin-right: 15px;
}

#aboutMe p {
    display: inline;
}

#charts {
    clear: both;
    width: 100%;
    padding-top: 50px;
    padding-left: 2%;
    margin-right: 35px;
}

.competenceChart {
    width: 410px;
    display: block;
    float: left;
}

.technicalChart {
    position: relative;
    width: 410px;
}

#myTalentId {
    position: relative;
    clear: both;
    padding-top: 20px;
    margin-left: 5%;
    top: 30px;
}

.rightBlock {
    position: relative;
    padding-left: 50px;
}

#contactMe img{
    height: 40px;
}

#myCV {
    position: absolute;
    top: 130px;
}
#myCV img {
    display: block;
    width: 50px;
    height: 40px;
}

#timeline {
    position: absolute;
    top: 250px;
}

@media screen and (max-width: 1199px) {
    .leftBlock {
        border: none;
    }

    #charts {
        width: 850px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }

  .rightBlock {
        position: relative;
        top: 45px;
      margin-bottom: 200px;
    }

  #contactMe {
      float: left;
      position: relative;
      width: 33%;
              text-align: center;
  }

    #myCV {
        float: left;
        position: relative;
        top: 0px;
        width: 33%;
                text-align: center;
    }

        #myCV img{
        display: inline;
    }

    #timeline {
        position: relative;
        float: left;
        top: 0px;
        width: 33%;
    }
}

@media screen and (max-width: 900px) {
    .leftBlock {
        border: none;
        clear: both;
    }

    #charts {
        width: 450px;
                margin-left: auto;
        margin-right: auto;
    }

  .rightBlock {
        position: relative;
        top: 45px;
        margin-bottom: 200px;
    }

  #contactMe {
      float: left;
      position: relative;
      width: 50%;
      text-align: center;
    }

    #myCV img{
        display: inline;
    }

    #myCV {
      float: left;
        position: relative;
        top: 0px;
        width: 50%;
  }

    #timeline {
        display: none;
    }
}

/* Progress bar */

.progressBlock {
    margin-top: 9px;
    position: relative;
    width: 450px;
}

.progressLabel {
    position: absolute;
    right: 15px;
    font-weight: bold;
}

progress {
	width: 400px;
	height: 22px;
	-webkit-appearance: none;
    -moz-appearance: none;
	border: none;
    color: blue;
}

progress::-webkit-progress-bar {
	background: white;
    border: solid 1px grey;
	border-radius: 50px;
	padding: 2px;
}

progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		 /*-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),*/
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, rgb(124, 181, 236), rgb(15, 50, 236));
}