body {
}

hr {
    padding:0;
    margin:0;
}

/* Layout */

.navbar-default {
    background-color:white;
    color:grey;
}

.content {
    position:relative;
    top:70px;
    left:24px;
    margin-bottom:85px;
}

/* Realisation summary page */

.realisation-summary{
    position:relative;
    height:80px;
    width:90%;
    transition: background 0.9s;
    background: white;
    padding-top:15px;
    padding-bottom:15px;
    border-top:1px solid #eee;
}

.realisation-summary:hover{
    transition: background 0.9s;
    background: #D6D6D6;
}

.realisation-summary img{
    position:absolute;
    top:13px;
    left:0;
    height:60px;
    width:60px;
}

.realisation-summary div{
    position:absolute;
    top:16px;
    left:85px;
}

/* Realisation detail page */
.realisation-description {
    width: 50%;
    float:left;
}

.realisation-logo{
    max-width:250px;
    max-height:200px;
    margin-left:50px;
}

.realisation-detail {
    margin-top:15px;
    clear:both;
}

.realisation-detail span {
    text-decoration:underline;
    display:block;
    margin-bottom:15px;
}

.realisation-detail .competenceblock {
    float:left;
    width:25%;
}