body {
}

hr {
    padding:0;
    margin:0;
}

textarea {
    resize: none;
    min-height: 100px;
}

/* Layout */

.navbar-default {
    background-color:white;
    color:grey;
}

.content {
    position:relative;
    margin-bottom:85px;
    margin-left: 25px;
    margin-right: 25px;
}

/* Footer */

.image-bar{
    float:right;
}

.image-bar img{
    width:25px;
    margin-left:8px;
}

/* Realisation summary page */

.realisation-summary{
    position:relative;
    height:80px;
    width:90%;
    transition: background 0.9s;
    background: white;
    padding-top:15px;
    padding-bottom:15px;
    border-top:1px solid #eee;
}

.realisation-summary:hover{
    transition: background 0.9s;
    background: #D6D6D6;
}

.realisation-summary img{
    position:absolute;
    top:13px;
    left:0;
    height:60px;
    width:60px;
}

.realisation-summary .realisationName {
    text-decoration: underline;
    font-weight: bold;
}

.realisation-summary div{
    position:absolute;
    top:16px;
    left:85px;
}

/* Realisation detail page */
.realisation-description {
    width: 50%;
    float:left;
}

.realisation-logo{
    max-width:250px;
    max-height:200px;
    margin-left:50px;
}

.realisation-detail {
    margin-top:15px;
    clear:both;
}

.realisation-detail span {
    text-decoration:underline;
    display:block;
    margin-bottom:15px;
}

.realisation-detail .competenceblock {
    float:left;
    width:25%;
}

/* CV Viewer */
#showOnline {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

#CVViewer {
    display: none;
    min-width: 500px;
    min-height: 900px;
}

/* Home */
#mypic {
    height: 120px;
    float: left;
    margin-right: 15px;
}

#contactMe {
    clear: left;
    position: relative;
    margin-top: 25px;
}

#contactMe img{
    height: 40px;
}