body {
}

.navbar-default {
    background-color:black;
    color:grey;
}

.content {
    margin-top:70px;
    margin-left:14px;
}

.competence-description {
    width: 50%;
}

.competence-detail {
    margin-top:15px;
}

.associated {
    text-decoration:underline;
}