@{
    ViewBag.Title = "CompetenceDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ObjectModel.Competence

Ceci est le détail de la compétence @Model.Name .

<div>
    Réalisations associés :
    <ul>
        @foreach (var real in Model.Realisations)
        { 
            <li>@Html.ActionLink(real.Name, "Detail", "Realisation", new { id = real.Id }, null)</li>
        }
    </ul>
</div>