@{
    ViewBag.Title = "CompetenceDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Portfolio.ViewModels.Competences.DisplayViewModel

<h2>@Model.Name</h2>

<div class ="realisation-description">@Html.Raw(Model.Description)</div>
<img src="~/Content/img/logos/@Model.ImageName" class="realisation-logo" />

<div class="realisation-detail">
    <div class="competenceblock">
        <span>Réalisations associés :</span>
        <ul>
            @foreach (var real in Model.LinkedRealisations)
            { 
                <li>@Html.ActionLink(real.Name, "Detail", "Realisation", new { id = real.Id }, null)</li>
            }
        </ul>
    </div>
</div>