@{
    ViewBag.Title = "Mes compétences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<ObjectModel.Competence>

Voici les compétences que j'ai pu acquérir au cours de mes années d'études ainsi qu'à travers des expériences personnelles.

<div>
    <ul>
        @foreach (var comp in Model)
        { 
            <li>@Html.ActionLink(comp.Name, "Detail", new { id = comp.Id })</li>
        }
    </ul>
</div>