@{
    ViewBag.Title = "Mes compétences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Portfolio.ViewModels.Competences.ListViewModel

Voici les compétences que j'ai pu acquérir au cours de mes années d'études ainsi qu'à travers des expériences personnelles.

<div>
    @foreach (var comp in Model.Competences)
    {
        <div class="realisation-summary">
            <img src="~/Content/img/logos/@comp.ImageName" />
            <div>
                <span class="realisationName">@comp.Name</span> @comp.ShortDescription
                @Html.ActionLink(ObjectModel.Helpers.ResourceHelpers.GetString("General", "SEE_MORE"), "Detail", new { id = comp.Id })
            </div>
        </div>
    }
</div>